body {              /* ТЕЛО */
    background-color: #606060;
    margin-bottom: 200px;
}
.catcolor {              /* Цвет ссылки */
    color: violet;
    text-decoration: none;
    padding-bottom: 40px;
}
#all {                       /* общий блок */
    margin-left: 200px;

}

#relexcat {                 /* Картинка */
    border: 15px solid;
    border-radius: 70px;
    border-top-color: rgb(96, 143, 204);
    border-bottom-color: rgb(96, 143, 204);
    border-left-color:red;
    border-right-color: green;
    box-shadow: 10px 5px 5px rgb(9, 80, 161);
    margin-top: 25px;
    margin: 20px;
}
.sizetext3 {                /* Размер */
    font-size: 23px;
}
.wrapper {                  /* Css grid */
   display: grid;
   grid-template-columns: 100px 100px 180px 100px;
   grid-gap: 6%;
   font-size: 19px;
   font-family: Arial;
   text-align: center;
}
.box{            /* свойство ящиков */               
    border: 1px solid; 
    padding: 10px;
    background:#608fcc;
}
h2 {
    font-family: Comic Sans MS;
}
h3{
    font-family: Arial;
}
ul {                    /* Таблица */
    font-family: Arial;
    font-size: 17px;
}
.catcolor2 {            /* Цвет текста */
    color: pink;
    text-decoration: none;
}
.catcolor:hover {         /* При наведении на ссылку */
    text-decoration: none;
    color: red;
}
.textsize {                /* Размер */
    font-size: 20px;
}
